@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,500,700|Montserrat&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
}

html {
	box-sizing: inherit;
	font-family: 'Asap', sans-serif;
	font-size: 16px;
}

.header {
	padding-top: 40px;
	max-width: 100%;
	background: url(img/bgElement.png) center center no-repeat;
		-webkit-background-size: 100%;
	margin: 0 auto 270px;
}

.wrapper {
	max-width: 60%;
	margin: 0 auto;
}

.header__wrapper--logo {
	display: flex;
	justify-content: space-between;
	margin-bottom: 180px;
}

.list {
	display: flex;
	justify-content: space-around;
}

.list__item {
	list-style: none;
	list-style-type: none;
	margin-left: 5vw;
	max-width: 60px;
}

.list__item a {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}

.list__item a:hover {
	border-bottom: 1px solid #000;
}

.main_title {
	font-size: 90px;
	color: #4C4C4CFF;
	margin: 0 20px 25px 0;
}

.slogan {
	color: #919191FF;
	font-size: 22px;
	margin-bottom: 30px;
}

.buttons_row {
	display: flex;
}

.button {
	width: 140px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
}

.button:nth-child(even) {
	margin-right: 0;
}

.button_knowMore {
	background: #FFF;
	box-shadow: 5px 5px 8px 1px #BBB;
	border-radius: 2px;
}

.button_hireMe {
	border: 1px solid #000;
}

.button:hover {
	background: linear-gradient(206deg, rgba(255, 255, 255, 0.28), rgba(76, 76, 76, 0.21));
}

.main_text {
	margin-right: 30px;
}

.main_text a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}

.main_photo {
	height: 640px;
	margin-top: -140px;
}

.wrapper--mainpage {
	display: flex;
	justify-content: space-between;
}

/*Section__AboutMe*/

.section_aboutMe {
	max-width: 100%;
	height: 600px;
}

.aboutMe_title {
	color: #727272FF;
	font-size: 46px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.aboutMe_text {
	color: #565656FF;
	width: 45%;
	margin-bottom: 30px;
}

.button__section {
	width: 240px;
	height: 45px;
	border: 1px solid black;
	border-radius: 2px;
}

.section__wrapper--row {
	display: flex;
	justify-content: space-between;
}

.aboutMe_photo img {
	margin-top: -100px;
	max-width: 565px;
}

/*Services*/

.section_services {
	background: #DFDFDFFF;
	margin-bottom: 150px;
	padding-bottom: 50px;
	width: 100%;
	min-height: 650px;
}

.section_services h2 {
	text-transform: uppercase;
	font-size: 46px;
	color: #707070FF;
	text-align: center;
	padding: 130px 0 60px;
}

.services_list_column_2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.services_list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.box-item {
	display: flex;
	justify-content: center;
	margin-bottom: 70px;
}

.box-item img {
	/* width: 154px; */
	height: 118px;
}

/*schedule*/

.mySkills {
	width: 100%;
	margin-bottom: 150px;
}

.mySkills h2 {
	text-transform: uppercase;
	font-size: 46px;
	color: #707070FF;
	text-align: center;
	padding: 0 0 60px;
}

.schedule {
	display: flex;
	justify-content: center;
}

/*portfolio*/

.wrapper_portfolio {
	max-width: 60%;
	margin: 0 auto;
}

.section__portfolio-list {
	margin: 60px 0 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
}

.box-item-site {
	max-width: 350px;
	height: 250px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.box-item-site img{
	max-width: 350px;
}

.load_button a {
	color: #000;
	font-size: 1rem;
	text-decoration: none
}

.load_button {
	width: 190px;
	height: 50px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;	
	margin: 0 auto;
}

/*testimonials*/

.report_row {
	max-width: 50%;
	margin: 45px auto 20px;
	padding: 95px 120px;
	border-left: 1px solid #000;
	display: flex;
	justify-content: space-around;
}

.title-center {
	text-align: center;
}

.reporter_text {
	text-transform: uppercase;
}

.reporter_photo {
	width: 160px;
	margin-right: 30px;
}

.user_title {
	font-size: 30px;
	font-weight: bold;
}
.user_subtitle {
	font-size: 12px;
	font-style: italic;
	margin-bottom: 17px;
}

/*icons*/

.section_icons {
	background: #eee;
}

.icons {
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.icon_column {
	display: flex;
}

.icon_box {
	padding: 70px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.icon_box img {
	padding-bottom: 30px;
	/* width: 75px; */
	height: 83px;
}

.icon_count {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

/*form*/

.section_contact {
	background: url(img/contact_bg.png) center center no-repeat;
		-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

.contact_title {
	color: #fff;
	font-size: 46px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding: 165px 0 70px;
}

.form {
	width: 40%;
	margin: 0 auto;
	margin-bottom: 50px;
}

input {
	height: 55px;
	width: 48%;
	padding-left: 10px;
}

.form_row {
	display: flex;
	justify-content: space-around;
	margin-bottom: 25px;
}

#textarea_comment {
	width: 98.5%;
	height: 200px;
	padding: 15px 0 0 10px;
}

.submit_button {
	width: 120px;
	height: 50px;
	font-size: 18px;
	text-transform: uppercase;
}

.wrap_btn {
	margin: 35px auto 0;

	display: flex;

	justify-content: center;

	position: relative;

}

#top_btn {
	background: rgb(195, 194, 194);
	padding: 20px;
	/* width: 50px;
	height: 50px; */
	/* display: flex;
	justify-content: center;
	align-items: center; */
	position: fixed;
		left: 90%;
		top: 90%;
	cursor: pointer;

	animation: puls 3s;
	animation-iteration-count: infinite;
	opacity: 0.5;
}

#top_btn:hover {
	border: 2px solid rgb(184, 172, 172);
	opacity: 1;

}

@keyframes puls {
	0% {
		top: 90%;
	}

	75% {
		top: 85%;
	}

	100% {
		top: 90%;
	}
}

/*footer*/

.footer_inner {
	width: 70%;
	margin: 0 auto;
	padding-top: 30px;
	border-top: 1px solid #fff;
	display: flex;
	justify-content: center;
}

.footer_inner p {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 1600px) {
	.wrapper {
		max-width: 60%;
	}
}

@media screen and (max-width: 1800px) {
	.section__portfolio-list {
		grid-template-columns: 1fr 1fr;
	}

	.form_row {
		flex-direction: column;
	}

	.form_row input {
		width: 98%;
		margin-bottom: 15px;
	}

	.footer {
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 1600px) {
	.aboutMe_text {
		width: 80%;
		margin: 30px auto;
	}

	.aboutMe_title {
		text-align: center;
	}

	.aboutMe_photo {
		display: flex;
		justify-content: center;
	}

	.button__section {
		margin: 0 auto;
	}

	.main_photo img{
		max-height: 70%;
	}

	.main_photo {
		display: flex;
		align-items: center;
	}
}


@media screen and (max-width: 1200px) {
	.wrapper {
		max-width: 90%;
	}

	.main_text {
		margin: 0;
	}

	.schedule img {
		max-width: 80%;
	}

	.main_photo img{
		max-height: 60%;
	}

	.aboutMe_title {
		text-align: center;
	}

	.aboutMe_title br {
		display: none;
	}

	.section__wrapper--row {
		flex-direction: column-reverse;
	}

	.section__wrapper--row img {
		margin-bottom: 20px;
	}

	.services_list {
		grid-template-columns: 1fr;
	}

	.section__portfolio-list {
		grid-template-columns: 1fr 1fr;
	}

	.wrapper_portfolio {
		max-width: 1200px;
	}
}


@media screen and (max-width: 850px) {
	.header {
		margin-bottom: 50px;
	}

	.main_title {
		font-size: 80px;
	}
	
	.nav {
		display: none;
	}

	.section__portfolio-list {
		grid-template-columns: 1fr;
	}

	.icons {
		flex-direction: column;
	}

	.icon_box {
		padding: 40px;
	}

	.section_services {
		margin-bottom: 50px;
	}

	.mySkills {
		height: 600px;
	}

	.reporter_photo img {
		width: 120px;
		height: 120px;
	}

	.report_row {
		max-width: 70%;
		padding: 75px 100px;
	}

	.main_photo img{
		display: none;
	}

	.aboutMe_photo img {
		max-width: 300px;
		height: 230px;
		margin-top: 0;
	}

	.wrapper_p h2 {
		padding-top: 50px;
	}

	.mySkills {
		margin-bottom: 50px;
		height: 450px;
	}

	.services_list_column_2 {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 420px) {
	.buttons_row {
		max-width: 420px;
		justify-content: center;
	}

	.box-item img {
		width: 140px;
		height: 105px;
	}

	.form {
		width: 70%;
	}

	
	#top_btn {
		left: 85%;
	padding: 10px;
	}
}

@media screen and (max-width: 350px) {
	* {
		font-size: 0.8rem;
	}

	.main_text {
		width: 290px;
	}

	.main_title {
		font-size: 60px;
	}

	.box-item-site img {
		width: 300px;
	}

	.section_aboutMe {
		height: 620px;
	}

	.footer p {
		font-size: 12px;
	}
}